<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NeuroxEntities" connectionString="metadata=res://*/NeuroxModel.csdl|res://*/NeuroxModel.ssdl|res://*/NeuroxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=NEUROX_local;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Example.Storage.StorageServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Example.Storage.StorageServiceQueryBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Example.Storage.StorageService" behaviorConfiguration="Example.Storage.StorageServiceBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="Example.Storage.IStorageService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1010/Neurox/StorageService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Example.Storage.StorageServiceQuery" behaviorConfiguration="Example.Storage.StorageServiceQueryBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="Example.Storage.IStorageServiceQuery">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1020/Neurox/StorageServiceQuery/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>